.gitignore
.github/**
.vscode/**
node_modules/**
.dev/**
src/**
out/**/*.map
vitest.config.ts
tsconfig.json
esbuild.js
SUPPORT.md
assets/dashboard-preview.png
assets/estimate-notification.png
assets/managed-plan-notification.png
assets/statusbar-preview.png
*.vsix
